<div class="row">
  <div align="center">
    <h1>
      <div class="font-magic">
        Hello and welcome to
      </div>
      <div class="font-magic">
        MTG Deck Builder!
      </div>
    </h1>

    <div align="center">
      <div class="callout">
        <h3>
          Disclaimer!
        </h3>
        This app is a work in progress and was built as a proof of concept. <br>
        It is designed to be a Magic the Gathering deck Building site for anyone and everyone. <br>
        Please feel free to roam around, make yourself at home, and try out any of the features for yourself! <br>
        Feel free to send any thoughts, comments, or ideas for new features to me at Theelvendruid@gmail.com <br>
        <h3>
          <div class="font-magic">
            Enjoy!
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>
